{% extends 'base.html.twig' %}

{% block title %}Reglement{% endblock %}

{% block body %}
    <h1>Reglement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reglement.id }}</td>
            </tr>
            <tr>
                <th>Integer</th>
                <td>{{ reglement.integer }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reglement.date ? reglement.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>ModeReglement</th>
                <td>{{ reglement.modeReglement }}</td>
            </tr>
            <tr>
                <th>NumPiece</th>
                <td>{{ reglement.numPiece }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ reglement.montant }}</td>
            </tr>
            <tr>
                <th>Observation</th>
                <td>{{ reglement.observation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reglement_index') }}">back to list</a>

    <a href="{{ path('app_reglement_edit', {'id': reglement.id}) }}">edit</a>

    {{ include('reglement/_delete_form.html.twig') }}
{% endblock %}
