{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <h1>Patient index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Genre</th>
                <th>Telephone</th>
                <th>Gsm</th>
                <th>Email</th>
                <th>EtatCivil</th>
                <th>NomConjoint</th>
                <th>LieuParent</th>
                <th>NbrEnfant</th>
                <th>Taille</th>
                <th>Poids</th>
                <th>GroupSanguin</th>
                <th>Profession</th>
                <th>NCnss</th>
                <th>IdentUnique</th>
                <th>PriseEnCharge</th>
                <th>Medcin</th>
                <th>DatePrdv</th>
                <th>DateDrdv</th>
                <th>MotCles</th>
                <th>CodeApci</th>
                <th>RegCam</th>
                <th>DateValidite</th>
                <th>Qualite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.id }}</td>
                <td>{{ patient.nom }}</td>
                <td>{{ patient.prenom }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.adresse }}</td>
                <td>{{ patient.ville }}</td>
                <td>{{ patient.genre }}</td>
                <td>{{ patient.telephone }}</td>
                <td>{{ patient.gsm }}</td>
                <td>{{ patient.email }}</td>
                <td>{{ patient.etatCivil }}</td>
                <td>{{ patient.nomConjoint }}</td>
                <td>{{ patient.LieuParent }}</td>
                <td>{{ patient.NbrEnfant }}</td>
                <td>{{ patient.Taille }}</td>
                <td>{{ patient.poids }}</td>
                <td>{{ patient.groupSanguin }}</td>
                <td>{{ patient.profession }}</td>
                <td>{{ patient.nCnss }}</td>
                <td>{{ patient.identUnique }}</td>
                <td>{{ patient.priseEnCharge }}</td>
                <td>{{ patient.medcin }}</td>
                <td>{{ patient.datePrdv ? patient.datePrdv|date('Y-m-d') : '' }}</td>
                <td>{{ patient.dateDrdv ? patient.dateDrdv|date('Y-m-d') : '' }}</td>
                <td>{{ patient.motCles }}</td>
                <td>{{ patient.CodeApci }}</td>
                <td>{{ patient.regCam }}</td>
                <td>{{ patient.dateValidite ? patient.dateValidite|date('Y-m-d') : '' }}</td>
                <td>{{ patient.qualite }}</td>
                <td>
                    <a href="{{ path('app_patient_show', {'id': patient.id}) }}">show</a>
                    <a href="{{ path('app_patient_edit', {'id': patient.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="30">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_patient_new') }}">Create new</a>
{% endblock %}
