{% extends 'base.html.twig' %}

{% block title %}Domain{% endblock %}

{% block body %}
    <h1>Domain</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ domain.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ domain.libelle }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ domain.code }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_domain_index') }}">back to list</a>

    <a href="{{ path('app_domain_edit', {'id': domain.id}) }}">edit</a>

    {{ include('domain/_delete_form.html.twig') }}
{% endblock %}
