{% extends 'base.html.twig' %}

{% block title %}ModeReglement index{% endblock %}

{% block body %}
    <h1>ModeReglement index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mode_reglement in mode_reglements %}
            <tr>
                <td>{{ mode_reglement.id }}</td>
                <td>{{ mode_reglement.code }}</td>
                <td>{{ mode_reglement.libelle }}</td>
                <td>
                    <a href="{{ path('app_mode_reglement_show', {'id': mode_reglement.id}) }}">show</a>
                    <a href="{{ path('app_mode_reglement_edit', {'id': mode_reglement.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_mode_reglement_new') }}">Create new</a>
{% endblock %}
